/* foldersComponent's private CSS styles */
.folders {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

app-folder {
    position: relative;
    width: 24vw;
}