<h2>My Folders</h2>
<!-- <ul class="folders" cdkDropList (cdkDropListDropped)="drop($event)"> -->
<div class="folders">
  <app-folder *ngFor="let folder of folders" [folder]="folder"></app-folder>
</div>

<div>
  <label for="new-folder">Folder name: </label>
  <input id="new-folder" #folderName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button
    type="button"
    class="add-button"
    (click)="add(folderName.value); folderName.value = ''"
  >
    Add folder
  </button>
</div>

<!-- app-fodler 
  
  <h1> Title Folder </h1>
  <div *ngFor="let folder of folder.children">
    <app-folder [folder] = "folder"></app-folder>
  </div>


 -->
