<div *ngIf="root.children">
  <h2>{{ title }}</h2>
  <ul>
    <li
      app-folder
      *ngFor="let folder of root.children"
      [parent]="root"
      [folder]="folder"
      (click)="onSelect(folder)"
      (addedFolder)="onFolderAdd($event)"
    ></li>
  </ul>
  <app-boomark *ngIf="selectedFolder" [folder]="selectedFolder"></app-boomark>
</div>
<div *ngIf="root.children?.length == 0">
  <div>
    <label for="new-folder">folder name: </label>
    <input id="new-folder" #folderName />
  </div>
  <button
    type="button"
    class="add-button"
    (click)="add(folderName.value); folderName.value = ''"
  >
    Add folder
  </button>
</div>
