:host {
    display: grid;
    grid-template-areas: ". footer .";
    grid-template-columns: minmax(60px, 12vw) auto minmax(60px, 12vw);
    grid-template-rows: 1fr;
    height: 60px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: footer;
}