:host {
    display: grid;
    background: #eaeaea;
    grid-template-areas: ". main .";
    grid-template-columns: minmax(60px, 12vw) auto minmax(60px, 12vw);
    grid-template-rows: 1fr;
    height: calc(100vh - 60px - 60px);
}

main {
    background-color: #eaeaea;
    grid-area: main;
    margin: 16px 0;
}