<!-- <li class="folders">
  <div routerLink="/folder/{{ folder.id }}">
    <span class="badge">{{ folder.id }}</span> {{ folder.name }}
  </div>
  <button
    type="button"
    class="delete"
    title="delete folder"
    (click)="delete(folder)"
  >
    x
  </button>
</li> -->
<a routerLink="/folder/{{ folder.id }}">
  <span class="badge">{{ folder.id }}</span> {{ folder.name }}
</a>
<button
  type="button"
  class="delete"
  title="delete folder"
  (click)="delete(folder)"
>
  x
</button>
<div cdkDropList (cdkDropListDropped)="drop($event)">
  <div class="tag" *ngFor="let tag of folder.tags" cdkDrag>
    {{ tag.name }}
  </div>
</div>
<app-folder
  *ngFor="let child of folder.children"
  [parent]="folder"
  [folder]="child"
></app-folder>
