:host{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: "tags tags"
                         "folders bookmarks";
    grid-template-rows: 40% 60%;
    grid-template-columns: repeat(2, 1fr);
}