:host {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Roboto', Arial, sans-serif;
}

a {
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
}

.light-mode > :host > header {
    border-bottom: 1px solid var(--black);
}

.dark-mode > :host > header {
    border-bottom: 1px solid var(--white);

}

div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
}

i-feather {
    align-self: center;
    stroke-width: 2;
    width: 36px;
    height: 36px;
}

header i-feather {
    margin-right: 12px;
}

main {
    overflow-y: scroll;
    overflow-x: hidden; 
    height: calc(100vh - 120px);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--footer-height);
}

.light-mode > :host > footer {
    border-top: 1px solid var(--black);
}

.dark-mode > :host > footer {
    border-top: 1px solid var(--white);
}
