<header>
  <div>
    <img src="assets/logo.png" />
    <a routerLink="/"><h1>AMIO-Fav</h1></a>
  </div>
  <div>
    <a *ngIf="!user" routerLink="/login"><i-feather name="user"></i-feather></a>
    <i-feather name="moon"></i-feather>
    <app-dark-mode-toggle></app-dark-mode-toggle>
    <!-- <i-feather name="user"></i-feather> -->
  </div>
</header>
<footer>
  <div><a routerLink="/folders"><i-feather name="folder"></i-feather></a></div>
  <div><a routerLink="/bookmarks"><i-feather name="bookmark"></i-feather></a></div>
  <div><a routerLink="/tags"><i-feather name="tag"></i-feather></a></div>
</footer>
<router-outlet></router-outlet>
<!-- <app-messages></app-messages> -->

