:host{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

:host > form{
    height: 50%;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "labels inputs";
}

label{
    grid-area: labels;
}

input{
    grid-area: inputs;
}

button{
    grid-area: inputs;
}