/* MessagesComponent's private CSS styles */
:host {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100%;
}

.clear {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #333;
    background-color: #eee;
    padding: 1rem;
    margin-bottom: 4px;
    border-radius: 4px;
    font-size: 1rem;
}

.clear:hover {
    color: white;
    background-color: #42545C;
}