@import '~normalize.css';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

:root{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #eaeaea;
    color: #242424;
}

h1 {
    font-weight: 500;
    font-size: 24px;
    margin-left: 12px;
}

h2 {
    font-weight: 400;
    font-size: 32px;
}