/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

:root {
    box-sizing: border-box;
    --header-height: 60px;
    --footer-height: 60px;
    --primary-color: hsl(216deg 48% 38%);
    --secondary-color: hsl(73deg 87% 40%);
    --tertiary-color: hsl(37deg 100% 47%);
    --white: hsl(0deg 0% 92%);
    --black: hsl(0deg 0% 14%);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

body:not(.dark-mode-preloading) {
    transition: background-color 0.3s linear, color 0.3s linear;
}

.dark-mode {
    background-color: #242424;
    color: #eaeaea;
}

.dark-mode *{
    color: #eaeaea;
}

.light-mode {
    background-color: #eaeaea;
    color: #242424;
}

.light-mode * {
    color: #242424;
}
   
.light-mode .box:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--secondary-color);
    transform: translate3d(0px, 0, 0) scale(1.0);
    filter: blur(45px);
    opacity: var(0.6);
    transition: opacity 0.3s;
    border-radius: inherit;
}

.dark-mode .box:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--tertiary-color);
    transform: translate3d(0px, 0, 0) scale(1.0);
    filter: blur(45px);
    opacity: var(0.6);
    transition: opacity 0.3s;
    border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.box::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
        