/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

:root {
    box-sizing: border-box;
    --header-height: 60px;
    --footer-height: 60px;
    --primary-color: hsl(216deg 48% 38%);
    --secondary-color: hsl(73deg 87% 40%);
    --tertiary-color: hsl(37deg 100% 47%);
    --white: hsl(0deg 0% 92%);
    --black: hsl(0deg 0% 14%);
    --blackish: hsl(0deg 0% 33%);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

body:not(.dark-mode-preloading) {
    transition: background-color 0.3s linear, color 0.3s linear;
}


.dark-mode {
    background-color: #242424;
    color: #eaeaea;
}

.dark-mode *{
    color: #eaeaea;
}

.light-mode {
    background-color: #eaeaea;
    color: #242424;
}

.light-mode * {
    color: #242424;
}

h1 {
    font-weight: 500;
    font-size: 24px;
    margin-left: 12px;
}

h2 {
    font-weight: 400;
    font-size: 32px;
}