<div class="box">
    <form action="">
    <h2>Inscription</h2>
    <div>
        <label for="username">Nom d'utilisateur</label>
        <input type="text" name="username">
        <label for="email">Email</label>
        <input type="text" name="email">
        <label for="password">Mot de passe</label>
        <input type="password" name="password">
        <label for="cpassword">Confirmation</label>
        <input type="cpassword" name="cpassword">
        <button type="reset">Reset</button>
        <button type="submit" >Inscription</button>
    </div>
    </form>
</div>